<div label="Cervical prosthesis" layout-gt-sm="row" layout-wrap>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/spine_cervicalProsthesis1.png" class="md-card-image" alt="cervicalProsthesis1" />
        <md-card-content>
            <div class="md-subhead">The cervical prosthesis</div>
            <div class="md-body-1">
                <ul>
                    <li>Heights from 5mm to 7mm</li>
                    <li>Improved stability thanks to its anatomical design and spikes</li>
                    <li>Easy and fast implantation</li>
                    <li>Benefits from over 10 years of development</li>
                    <li>6 degrees of freedom</li>
                    <li>Adaptive center of rotation</li>
                    <li>No surface bearing for increased lifetime</li>
                    <li>Improved stability</li>
                    <li>Shock absorbing</li>
                </ul>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-xs="100" flex-md="45" flex-gt-md="50">
        <md-card-content>
            <div class="md-subhead">Designed to reproduce natural properties</div>
            <div>&nbsp;</div>
            <div class="md-body-1">
                <md-content>
                    <div class="md-subhead">Natural disc</div>
                    <md-divider></md-divider>
                    <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cervicalDesignToReproduce1" style="line-height: 0.5em">
                        <md-content>{{item.c1}}</md-content>
                        <md-content>{{item.c2}}</md-content>
                    </div>
                </md-content>
                <div>&nbsp;</div>
                <md-content>
                    <div class="md-subhead">LP-ESP</div>
                    <md-divider></md-divider>
                    <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cervicalDesignToReproduce2" style="line-height: 0.5em">
                        <md-content>{{item.c1}}</md-content>
                        <md-content>{{item.c2}}</md-content>
                    </div>
                </md-content>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-subhead">A monobloc total that restores</div>
            <div class="md-body-1">
                <p>The ESP disc prosthesis is made of 2 titanium alloy end-plates
                and an elastomeric cushion. The spikes on the end-plates
                outer surfaces improve primary fixation. The combination of a
                hydroxyapatite (HA) coating on top of a T40 rough surface are
                considered as one of the best existing coating insuring good
                bony fixation over time. The titanium alloy used for the end
                plates allows clear medical imaging.</p>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/spine_cervicalProsthesis2.png" class="md-card-image" alt="cervicalProsthesis2" />
        <md-card-content>
            <div class="md-subhead">Norma position</div>
        </md-card-content>

        <img ng-src="images/spine_cervicalProsthesis3.png" class="md-card-image" alt="cervicalProsthesis3" />
        <md-card-content>
            <div class="md-subhead">Flexion</div>
        </md-card-content>
        <img ng-src="images/spine_cervicalProsthesis4.png" class="md-card-image" alt="cervicalProsthesis4" />
        <md-card-content>
            <div class="md-subhead">Axial rotation</div>
        </md-card-content>
    </md-card>



</div>