<div layout layout-align="space-around start" hide-gt-md>
    <md-button class="md-fab" ng-click="goTo(statePrev.name)" ng-disabled="!statePrev" aria-label="PrzejdzDo{{statePrev.name}}">
        <md-tooltip md-direction="top" ng-show="statePrev">Wróć do {{statePrev.data.caption}}</md-tooltip>
        <md-icon md-svg-icon="navPrev"></md-icon>
    </md-button>
    <div>
        <md-button class="md-fab" ng-click="goTo(parentName)" aria-label="goParent" ng-disabled="!parentName">
            <md-tooltip md-direction="top" ng-show="parentName">Poziom wyżej ({{parentName}})</md-tooltip>
            <md-icon md-svg-icon="arrowUpward"></md-icon>
        </md-button>
        <md-button class="md-fab" ui-sref="home" aria-label="goHome">
            <md-tooltip md-direction="top">Przejdź do strony głównej</md-tooltip>
            <md-icon md-svg-icon="home"></md-icon>
        </md-button>
    </div>
    <md-button class="md-fab" ng-click="goTo(stateNext.name)" ng-disabled="!stateNext" aria-label="PrzejdzDo{{stateNext.name}}">
        <md-tooltip md-direction="top" ng-show="stateNext">Przejdź do {{stateNext.data.caption}}</md-tooltip>
        <md-icon md-svg-icon="navNext"></md-icon>
    </md-button>
</div>