<div ng-if="vm.startMode">
    <md-grid-list md-row-height=1:1 md-cols="1" md-cols-sm="2" md-cols-gt-xs="4" style="cursor:pointer" ng-show="vm.menuShow()">
        <md-grid-tile style="background-color:white" ui-sref="stopaSrubyDoPrzedstopiaOsteotomiaWeila" bg-image="{{vm.getImageUrl(0)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Osteotomia Weila</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile style="background-color:white" ui-sref="stopaSrubyDoPrzedstopiaSruby" bg-image="{{vm.getImageUrl(1)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Śruby</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile style="background-color:white" ui-sref="stopaSrubyDoPrzedstopiaTechnikiOperacyjne" bg-image="{{vm.getImageUrl(2)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Techniki operacyjne</h3>
            </md-grid-tile-header>
        </md-grid-tile>



    </md-grid-list>
    <ui-view></ui-view>
</div>
<image-progress-info ng-if="!vm.startMode"></image-progress-info>