.listItemSelected {
  background-color: #808080;
  color:snow;
}

.tileHeaderBackground {
    /*background:#2b2b2b;*/
    background-color: #909090;
}

.grid img {
    margin:auto;
    height: 100%;
}


.pointer {
cursor:pointer;
}

.lineHeightByk {
    line-height:2em;
    margin-top:10px;
    margin-bottom: 5px;
}



.podkreslenie {
font-style:italic;
color:red;
font-size:larger;
}

.splashPage {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.centerBottom {
  position: fixed;
  bottom: 10px;
  left: 50%;
  font-size:medium;
  line-height:1.5em;
  text-align:center;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.splashPageTextBox {
    text-align: center;
    vertical-align: middle;
    line-height: 2em; 
    color:#808080;
}

.powered-by {
  margin: 10px;
  font-size: 14px;
  padding: 5px;
  
}
.powered-by a {
 text-decoration: none;
 cursor: pointer;
}

.www-newid {
  font-size: medium;
  color: #808080;
  transition: all 0.5s;
}

.www-newid:hover {
  color: red;
}