<div label="Femoral" layout-gt-sm="row" layout-wrap>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/hip_trzpienieThiraCemented1.png" class="md-card-image" alt="hip_trzpienieThiraCemented1" />
        <md-card-content>
            <div class="md-title">Primary straight stem cemented or cementless, standard or lateralised</div>
            <div class="md-body-1">
            </div>
        </md-card-content>
        <md-card-content>
            <md-content flex-gt-sm="33">
                <div class="md-title">STANDARD STEMS</div>
                <md-divider></md-divider>
                <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.standardStems" style="line-height: 0.5em" >
                    <div>{{item.c1}}</div>
                    <div>{{item.c2}}</div>
                </div>
            </md-content>
            <div>&nbsp;</div>
            <md-content flex-gt-sm="33">
                <div class="md-title">LATERALISED STEMS</div>
                <md-divider></md-divider>
                <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.lateralisedStems" style="line-height: 0.5em" >
                    <div>{{item.c1}}</div>
                    <div>{{item.c2}}</div>
                </div>
            </md-content>
            <div>&nbsp;</div>
            <md-content flex-gt-sm="33">
                <div class="md-title">BIOLOX FORTE CERAMIC HEADS</div>
                <md-divider></md-divider>
                <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.bioloxForte" style="line-height: 0.5em" >
                    <div>{{item.c1}}</div>
                    <div>{{item.c2}}</div>
                </div>
            </md-content>
            <div>&nbsp;</div>
            <md-content flex-gt-sm="33">
                <div class="md-title">STAINLESS STEEL HEADS</div>
                <md-divider></md-divider>
                <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.stainlessSteelHeads" style="line-height: 0.5em" >
                    <div>{{item.c1}}</div>
                    <div>{{item.c2}}</div>
                </div>
            </md-content>
        </md-card-content>
    </md-card>

    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/hip_trzpienieThiraCemented1.png" class="md-card-image" alt="hip_trzpienieThiraCemented1" />
        <md-card-content>
            <div class="md-title">Cemented femoral stem</div>
            <div class="md-body-1">
                <p>
                    The cemented Thira® stem is made of stainless steel 316L ; the surface is highly polished as ratest cementing
                    techniques require.
                </p>
                <p>
                    The shape is selflocking and has a tapered shape allowing for optimal anteroposteral filling.
                    The cervico diaphyseal angle is 130°. It exists in 9 different sizes, from 2 to 10 (size 1 is available on special
                    request). The necks are of increasing length for efficient adaptation to the patients’ anatomy.
                </p>
                <p>
                    The cemented Thira® stem has the same geometry as the cementless Thira® stem, the arthroplasty can therefore be
                    performed with the same instrumentation, whether the stem is cemented or not.
                </p>
                <ul>
                    <li>
                        Cervico diasphyseal angle of 130°.
                    </li>
                    <li>
                        12/14 taper allowing an alumina/alumina couple to be used
                    </li>
                    <li>
                        Diameter of neck : 12.5, in order to avoid impingements
                    </li>
                </ul>
            </div>
        </md-card-content>
        <img ng-src="images/hip_trzpienieThiraCemented2.png" class="md-card-image" alt="hip_trzpienieThiraCemented2" />
        <img ng-src="images/hip_trzpienieThiraCemented3.png" class="md-card-image" alt="hip_trzpienieThiraCemented3" />

        <div layout layout-align="center center">
            <a ng-href="images/hip_trzpienieThiraCemented4.png" target="_blank">
                <img ng-src="images/hip_trzpienieThiraCemented4.png" class="md-card-image" alt="hip_trzpienieThiraCemented4" />
                <md-tooltip md-direction="top">
                    kliknij by powiększyć
                </md-tooltip>
            </a>
            </div>
</md-card>

</div>