<div layout-gt-sm="row" layout-wrap>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/hip_panewki_hng_dual1.png" class="md-card-image" alt="hip_panewki_hng_dual1" />
        <md-card-content>
            <div class="md-title">DUAL MOBILITY ACETABULAR CUP</div>
            <div class="md-body-1">
                <p>
                    The dual mobility concept was invented by Prof. Gilles Bousquet more than
                    twenty years ago. It is based on the combination of two principles:
                    <ul>
                        <li>Joint stability</li>
                        <li>The reduction of wear</li>
                    </ul>
                </p>
                <p>
                    FH ORTHOPEDICS has reworked this concept, this time taking into account
                    the technological progress made since the 1970s in terms of the materials
                    used, so as to obtain improved tribological results.
                </p>
                <p>
                    The <strong>Hip’n go</strong> dual mobility acetabular cup comes in a large range and
                    makes it possible to satisfy a maximum of indications.
                </p>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">CONCEPT</div>
            <div class="md-body-1">
                <p>
                    The universal Hip’n go concept makes it possible to choose, in either the
                    pre-operative or per-operative period, between a dual mobility acetabular
                    cup (press-fi t or tripod) and a rigid acetabular cup (Biolox Delta ceramic or
                    UHMWPE insert).
                </p>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">RANGE and MATERIALS</div>
            <div class="md-body-1">
                <p>
                    The press-fi t range of dual mobility cementless acetabular cups comes in 10
                    sizes, ranging from a diameter 46 mm to 64 mm in 2 mm increments.
                </p>
                <p>
                    The inserts are available with an inner diameter of 22.2 mm for
                    size 46 and an inner diameter of 28 mm for sizes 48 to 64 mm.
                </p>
                <p>
                    The metal-backs are made from mirror polished CoCr (cobalt
                    chrome) on the inner face to provide mobilisation of the insert with
                    maximum tribological properties.
                </p>
                <p>
                    The outside surface has a T40 titanium spray and a hydroxyapatite
                    coating to increase both the implant’s secondary fi xation capacities
                    and its lifespan*.
                </p>
                <p>
                    The inserts are made from UHMWPE (Ultra High Molecular Weight
                    PolyEthylene).
                </p>
            </div>
            <div>&nbsp;</div>
            <div class="md-body-1">* Detailed technical sheet available</div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/hip_panewki_hng_dual2.png" class="md-card-image" alt="hip_panewki_hng_dual2" />
        <md-card-content>
            <div class="md-title">PRESS-FIT</div>
            <div class="md-body-1">
                <p>
                    The metal-back of the Hip’n go dual mobility acetabular cup is a semicircular
                    cup that is fl ared at the equator because of a serrated macrostructure
                    that provides it with excellent press-fi t capacities and perfect primary
                    fi xation. The press-fi t is increased by three peripheral wings, which also
                    prevent any possible rotation of the cup in the receiving bone.
                </p>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/hip_panewki_hng_dual3.png" class="md-card-image" alt="hip_panewki_hng_dual3" />
        <md-card-content>
            <div class="md-title">STABILITY</div>
            <div class="md-body-1">
                <p>
                    In order to apply the stability principles developed by Prof. Bousquet,
                    the semi-circular part of the cup is elongated in its upper part by a
                    4mm lip, which helps to improve the congruence of the system.
                </p>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/hip_panewki_hng_dual4.png" class="md-card-image" alt="hip_panewki_hng_dual4" />
        <md-card-content>
            <div class="md-title">INSERT</div>
            <div class="md-body-1">
                <p>
                    The minimum thickness of the polyethylene inserts is 8 mm, to
                    prevent any risk of creep. The geometry of the inserts has been
                    studied to make maximum head/insert clearance possible, as well as
                    linear contact insert/neck as a means of reducing wear. It is for this
                    reason that the inserts are equipped with an inner bevelled edge.
                    These inserts come in two diameters : 22.2 mm for size 46 and 28 mm
                    for sizes 48 and up.
                </p>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/hip_panewki_hng_dual5.png" class="md-card-image" alt="hip_panewki_hng_dual5" />
        <md-card-content>
            <div class="md-title">INSTRUMENTATION</div>
            <div class="md-body-1">
                <p>
                    The specifi c <strong>Hip’n go</strong> instruments set can be used with both types
                    of cementless dual mobility acetabular cups proposed in this
                    programme: press-fi t and tripod.
                    This instrument set allows surgeons to use every approach available,
                    including mini-invasive approaches.
                    Impaction tools are available, either for posterior or anterior
                    approaches.
                </p>
            </div>
        </md-card-content>
        <img ng-src="images/hip_panewki_hng_dual6.png" class="md-card-image" alt="hip_panewki_hng_dual6" />
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">DUAL MOBILITY CUPS</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.dualMobilityCups" style="line-height: 0.5em">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
            </div>
            <div>&nbsp;</div>
            <div class="md-title">DOUBLE MOBILITY INSERTS</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.doubleMobilityInserts" style="line-height: 0.5em">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Other implants of the range</div>
        </md-card-content>
        <div layout layout-align="center center">
            <a ng-href="images/hip_panewki_hng_dual7_big.png" target="_blank">
                <img ng-src="images/hip_panewki_hng_dual7.png" class="md-card-image" alt="hip_panewki_hng_dual7" />
                <md-tooltip md-direction="top">
                    kliknij by powiększyć
                </md-tooltip>
            </a>
            </div>
</md-card>
</div>