<md-card layout="column" layout-padding layout-align="center center">
<div layout="column" layout-align="center center">
    <div class="md-title">{{name}}</div>
    <div style="line-height:0.3em">&nbsp;</div>
    <div class="md-body-1">{{stanowisko}}</div>
</div>
    <div layout layout-align="center center">
        <div layout="column" layout-gt-md="row">
            <div ng-if="phone" layout layout-align="start center">
                <md-button class="md-icon-button" aria-label="{{name}}_phone" ng-click="callMe()">
                    <md-icon md-svg-icon="phone"></md-icon>
                </md-button>
                <div class="md-body-1">{{phone}}</div>
            </div>
            <div>&nbsp;&nbsp;</div>
            <div ng-if="fax" layout layout-align="start center">
                <md-button class="md-icon-button" aria-label="{{fax}}_fax" ng-click="callMe()">
                    <md-icon md-svg-icon="fax"></md-icon>
                </md-button>
                <div class="md-body-1">{{fax}}</div>
            </div>
        </div>

    </div>
    <div layout layout-align="center center">
        <md-button class="md-icon-button" aria-label="{{name}}_email" ng-click="emailSend(email)">
            <md-icon md-svg-icon="email"></md-icon>
        </md-button>
        <div class="md-body-1">{{email}}</div>
    </div>
</md-card>