<md-content style="height:{{vm.settings.size}}px">
    <section>
        <md-subheader class="md-primary">HUMERAL STEM</md-subheader>
                    <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.humeralStem" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                        <div>{{item.reference}}</div>
                        <div>{{item.diameter}}</div>
                        <div>{{item.height}}</div>
                    </div>
        </section>
    <section>
        <md-subheader class="md-primary">STD HUMERAL INSERT</md-subheader>
                    <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.stdHumeralInsert" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                        <div>{{item.reference}}</div>
                        <div>{{item.diameter}}</div>
                        <div>{{item.height}}</div>
                    </div>
    </section>
    <section>
        <md-subheader class="md-primary">CANCELLOUS BONE SCREW</md-subheader>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cancellousBoneScrew" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.reference}}</div>
                <div>{{item.diameter}}</div>
                <div>{{item.height}}</div>
            </div>
    </section>
    <section>
        <md-subheader class="md-primary">CORTICAL BONE SCREW</md-subheader>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cortialBoneScrew" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.reference}}</div>
                <div>{{item.diameter}}</div>
                <div>{{item.height}}</div>
            </div>
</section>
    <section>
        <md-subheader class="md-primary">GLENOSPHERE</md-subheader>
            <div layout layout-padding layout-align="space around start" ng-repeat="item in vm.glenosphere" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.reference}}</div>
                <div>{{item.diameter}}</div>
            </div>
</section>
    <section>
        <md-subheader class="md-primary">METAL-BACK GLENOID BASE</md-subheader>
        <div layout layout-padding layout-align="space around start" ng-repeat="item in vm.metalBackGlenoidBase" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.reference}}</div>
            <div>{{item.diameter}}</div>
        </div>
    </section>
</md-content>
