<md-content style="height:{{vm.settings.viewHeight}}px">
    <section>
        <md-subheader class="md-primary">HUMERAL STEM</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.humeralStem" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
            <div>{{item.c3}}</div>
        </div>
    </section>
    <section>
        <md-subheader class="md-primary">CENTRED HUMERAL HEAD</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.centredHumeralHead" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
            <div>{{item.c3}}</div>
        </div>

    </section>

    <section>
        <md-subheader class="md-primary">OFF-CENTRED HUMERAL HEAD</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.offCentredHumeralHead" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
            <div>{{item.c3}}</div>
        </div>

    </section>
    <section>
        <md-subheader class="md-primary">CANCELLOUS BONE SCREW</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cancellousBoneScrew" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
            <div>{{item.c3}}</div>
        </div>

    </section>
    <section>
        <md-subheader class="md-primary">CORTICAL BONE SCREW</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.corticalBoneScrew" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
            <div>{{item.c3}}</div>
        </div>

    </section>
    <section>
        <md-subheader class="md-primary">CEMENTED GLENOID</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cementedGlenoid" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
            <div>{{item.c3}}</div>
        </div>

    </section>
    <section>
        <md-subheader class="md-primary">GLENOID INSERT</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.glenoidInsert" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
        </div>
    </section>
    <section>
        <md-subheader class="md-primary">METAL-BACK GLENOID BASE</md-subheader>
        <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.metalBackGlenoidBase" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
            <div>{{item.c1}}</div>
            <div>{{item.c2}}</div>
        </div>
    </section>
</md-content>