<div label="Trade references">
    <md-conten layout layout-padding layout-align="space around center" layout-wrap>
        <md-content flex-gt-sm="45">
            <div class="md-title">HUMERAL STEM</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.humeralStem" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
                <div>{{item.c3}}</div>
            </div>
        </md-content>
        <md-content flex-gt-sm="45">
            <div class="md-title">CENTRED HUMERAL HEAD</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.centredHumeralHead" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
                <div>{{item.c3}}</div>
            </div>
        </md-content>
        <md-content flex-gt-sm="45">
            <div class="md-title">OFF-CENTRED HUMERAL HEAD</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.offCentredHumeralHead" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
                <div>{{item.c3}}</div>
            </div>
        </md-content>
        <md-content flex-gt-sm="45">
            <div class="md-title">CANCELLOUS BONE SCREW</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cancellousBoneScrew" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
                <div>{{item.c3}}</div>
            </div>
        </md-content>
        <md-content flex-gt-sm="45">
            <div class="md-title">CORTICAL BONE SCREW</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.corticalBoneScrew" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
                <div>{{item.c3}}</div>
            </div>
        </md-content>


        <md-content flex-gt-sm="45">
            <div class="md-title">CEMENTED GLENOID</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.cementedGlenoid" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
                <div>{{item.c3}}</div>
            </div>
        </md-content>
        <md-content flex-gt-sm="45">
            <div class="md-title">GLENOID INSERT</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.glenoidInsert" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
            </div>
        </md-content>
        <md-content flex-gt-sm="45">
            <div class="md-title">METAL-BACK GLENOID BASE</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.metalBackGlenoidBase" style="line-height: 0.5em" ng-class="{'md-body-2': $first}">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
            </div>
        </md-content>
    </md-conten>
</div>