<div label="Lumbar prosthesis" layout-gt-sm="row" layout-wrap>
    <md-card flex-sm="100" flex-xs="100" flex-md="50" flex-gt-md="30">
        <img ng-src="images/spine_lumbarProsthesis1.png" class="md-card-image" alt="lumbarProsthesis" />
        <md-card-content>
            <div class="md-subhead">The lumbar prosthesis</div>
            <div class="md-body-1">
                <ul>
                    <li>Over 10 years of research and development</li>
                    <li>10 years of follow up (since 2004)</li>
                    <li>6° of freedom</li>
                    <li>
                        Primary stability thanks to spikes allowing the prosthesis to be
                        implanted anterorly as well as antero-lateraly and to face difficult soft
                        tissue situations
                    </li>
                    <li>Adaptive center of rotation</li>
                    <li>No surface bearing for an increased lifetime</li>
                    <li>Improved stability</li>
                    <li>Shock absorbing</li>
                    <li>Designed to fit and restore patient lordosis</li>
                </ul>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-xs="100" flex-md="50" flex-gt-md="50">
        <md-card-content>
            <div class="md-subhead">Designed to reproduce natural properties</div>
            <div>&nbsp;</div>
            <div class="md-body-1">
                <md-content>
                    <div class="md-subhead">Natural disc</div>
                    <md-divider></md-divider>
                    <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.lumberDesignToReproduce1" style="line-height: 0.5em">
                        <md-content>{{item.c1}}</md-content>
                        <md-content>{{item.c2}}</md-content>
                    </div>
                </md-content>
                <div>&nbsp;</div>
                <md-content>
                    <div class="md-subhead">LP-ESP</div>
                    <md-divider></md-divider>
                    <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.lumberDesignToReproduce2" style="line-height: 0.5em">
                        <md-content>{{item.c1}}</md-content>
                        <md-content>{{item.c2}}</md-content>
                    </div>
                </md-content>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-subhead">Disc prosthesis natural disc functions</div>
            <div class="md-body-1">
                <ul>
                    <li>Between the 2 titanium end-plates the elastomeric parts are injected for • Designed to fit and restore patient lordosis
controled resistance to compression, flexion and rotation. These elastomeric
parts are concentric and their fixation prohibits micro motion. The materials
used for the implants have been tested for biocompatibility according to the
ISO standard 10993.</li>
                    <li>Minimally invasive anterior approach which allows reduced hospital stay and
improves rehabilitation</li>
                    <li>LP-ESP tested up to 40 million cycles</li>
                    <li>ESP should give a significant reduction in pain severity, re-establish lumbar
curvature and natural disc functions</li>
                    <li>ESP allows quick return to normal daily activities</li>
                </ul>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/spine_lumbarProsthesis2.png" class="md-card-image" alt="lumbarProsthesis2" />
        <md-card-content>
            <div class="md-body-1">
                <ul>
                    <li>
                        Between the 2 titanium end-plates the elastomeric parts are injected for • Designed to fit and restore patient lordosis
                        controled resistance to compression, flexion and rotation. These elastomeric
                        parts are concentric and their fixation prohibits micro motion. The materials
                        used for the implants have been tested for biocompatibility according to the
                        ISO standard 10993.
                    </li>
                    <li>
                        Minimally invasive anterior approach which allows reduced hospital stay and
                        improves rehabilitation
                    </li>
                    <li>LP-ESP tested up to 40 million cycles</li>
                    <li>
                        ESP should give a significant reduction in pain severity, re-establish lumbar
                        curvature and natural disc functions
                    </li>
                    <li>ESP allows quick return to normal daily activities</li>
                </ul>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <img ng-src="images/spine_lumbarProsthesis3.png" class="md-card-image" alt="lumbarProsthesis3" />
        <md-card-content>
            <div class="md-subhead">Extension</div>
        </md-card-content>

        <img ng-src="images/spine_lumbarProsthesis4.png" class="md-card-image" alt="lumbarProsthesis4" />
        <md-card-content>
            <div class="md-subhead">Lateral flexion</div>
        </md-card-content>
        <img ng-src="images/spine_lumbarProsthesis5.png" class="md-card-image" alt="lumbarProsthesis5" />
        <md-card-content>
            <div class="md-subhead">Compression</div>
        </md-card-content>
    </md-card>


</div>