<div ng-if="vm.startMode">
    <md-grid-list md-row-height=1:1 md-cols="1" md-cols-gt-xs="3" style="cursor:pointer" id="arrow" ng-show="vm.menuShow()">
        <md-grid-tile style="background-color:cadetblue" ui-sref="kolanoFHK" bg-image="{{vm.getImageUrl(0)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>FHK</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile style="background-color:goldenrod" ui-sref="kolanoTLS" bg-image="{{vm.getImageUrl(1)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>TLS</h3>
            </md-grid-tile-header>
        </md-grid-tile>
    </md-grid-list>
    <ui-view></ui-view>
</div>
<image-progress-info ng-if="!vm.startMode"></image-progress-info>

