<div ng-if="vm.startMode">
    <md-grid-list md-row-height=1:1 md-cols="1" md-cols-sm="2" md-cols-gt-xs="4" style="cursor:pointer" ng-show="vm.menuShow()">
        <md-grid-tile style="background-color:black" ui-sref="stopaCalcanail" filter="greyscale" filter-value="95%" bg-image="{{vm.getImageUrl(0)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Calcanail</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile style="background-color:black" ui-sref="stopaNarzedziaDoMiniinwazyjnejChirurgiiStopyMIS" bg-image="{{vm.getImageUrl(1)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Narzedzia do miniinwazyjnej chirurgii stopy MIS</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile style="background-color:black" ui-sref="stopaSrubyDoPrzedstopia" bg-image="{{vm.getImageUrl(2)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Śruby do przedstopia</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile style="background-color:black" ui-sref="stopaSrubyDoTylstopia" bg-image="{{vm.getImageUrl(3)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Śruby do tyłstopia</h3>
            </md-grid-tile-header>
        </md-grid-tile>
        <md-grid-tile style="background-color:black" ui-sref="stopaTenolig" bg-image="{{vm.getImageUrl(4)}}">
            <md-grid-tile-header class="tileHeaderBackground">
                <h3>Tenolig</h3>
            </md-grid-tile-header>
        </md-grid-tile>
    </md-grid-list>
    <ui-view></ui-view>
</div>
<image-progress-info ng-if="!vm.startMode"></image-progress-info>