<div label="calcanail" layout-gt-sm="row" layout-wrap>
    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Patient positioning</div>
            <div class="md-body-1">
                Two positions are possible: side-lying or prone.
                <ul>
                    <li>
                        The patient is usually placed on his/her side with the flexed limb resting on
                        a pad and the foot off the table. Lateral and retrotibial fluoroscopy views
                        are taken by externally rotating the foot and tipping the C-arm along the
                        table axis.
                    </li>
                    <li>
                        Alternatively, the patient can be placed prone with the knee flexed so the
                        leg is placed at 45° relative to the table, particularly if it is a bilateral fracture.
                    </li>
                </ul>
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho02_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho02.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_02" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>
    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Step 1:</div>
            <div class="md-subhead">Placement of K-wire in posterior tuberosity</div>
            <div class="md-body-1">
                At the junction between the posterior and plantar
                aspect of the heel, use a scalpel to perform a
                posterior incision down to the bone. The incision
                starts from the lowest part of the posterior calcaneal
                tuberosity and goes up in a posterior direction
                for 20mm.<br />
                The Ø12 K-wire with stopper (Ref. 265 571) must be
                placed in the correct position as this determines
                the orientation of the work chamber and later on,
                the nail position (fig. 1a, 1b and1c).
                • On the lateral view, the K-wire should be positioned
                in the direction of the lower portion of the
                posterior talar articular surface.
                • On the retrotibial view, K-wire placement must
                take into account the subtalar angle; this roughly
                corresponds to the axis of the first interdigital
                space.
                <br />
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho03_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho03.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_03" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Step 2:</div>
            <div class="md-subhead">Placement of subtalar distractor</div>
            <div class="md-body-1">
                The second surgical step consists of placing a Caspar-type subtalar distractor
                (Ref. 265 599) onto two K-wires, one in the talus and one in the posterior
                calcaneal tuberosity. If needed, these Ø3.2 K-wires (Ref. 265 668) are used with
                the distractor to correct the varus deformity of the posterior tuberosity and
                distract the subtalar joint so the depressed articular surface can be reduced.
                Conversely, they can be used with the compressor (Ref. 266 353) to remove the
                joint space and bring the freshened talar and calcaneal articular surfaces
                together.<br />
                Two 3.2 mm K-wires (Ref. 265 668) will be placed across the foot axis.
                <ul>
                    <li>Place the calcaneal K-wire in the posterosuperior part of the posterior tuberosity
                at least 10 mm above or below the future tunnelling point in the
                tuberosity. A positioning square is available (Ref. 266 147) to position this wire
                perpendicularly to the previously implanted K-wire with stopper.</li>
                    <li>Place the talar K-wire on the lateral aspect of the talus, in the lateral tubercle
                at the centre of the talar dome, making sure not to injure the lateral peroneal
                tendons</li>
                    <li>Palpate the medial aspect of the foot to locate the K-wires crossing the talus
                and calcaneus and make sure they do not perforate the skin. Fix the distractor
                or compressor onto the K-wires. Before starting the distraction, tighten
                the key locks to make sure the distractor does not recoil (fig. 2).</li>
                </ul>
                <br />
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho04_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho04.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_04" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>




    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Step 3:</div>
            <div class="md-subhead">Preparation of work chamber</div>
            <div class="md-body-1">
                The third step consists of introducing the 12 mm hollow reamer (Ref. 265 573)
                over the first K-wire with stopper. Make sure the K-wire does not poke out
                of the reamer windows. Ream until the articular surface of the calcaneus is
                crossed; remove the reamer and bone plug. Reintroduce the reamer into the
                body of the talus and ream until the posterior surface of the talus is crossed.
                This reaming must be performed in two steps, as too much heat would be
                created if it was performed in a single step (fig. 3).
                <br />
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho05_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho05.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_05" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>


    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Step 4:</div>
            <div class="md-subhead">Preparation of work chamber</div>
            <div class="md-body-1">
                This surgical step is very important as it will determine
                the success of the fusion. Depending on
                the patient’s case and surgical indication, bone
                freshening can be performed either by the work
                chamber or more commonly and more easily,
                by a small incision on the lateral aspect of the
                calcaneus below the tip of the lateral malleolus.
                Reflect the lateral peroneal tendons, then use a
                motorized burr and/or the 10 mm hollow reamer
                (Ref. 265 572) to carefully remove the talar cartilage
                (fig. 4).<br />
                The intact or fractured posterior talar articular surface
                must also be freshened.
                <br />
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho06_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho06.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_06" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>


    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Step 5:</div>
            <div class="md-subhead">Bone graft</div>
            <div class="md-body-1">
                Depending on the surgical indication, a bone graft may be necessary. It isn’t always necessary
                for comminuted fractures. The bone plug removed at the beginning of the surgery
                may be sufficient. Care must be taken to release the distractor before introducing the nail,
                and always before the locking step.<br />
                For secondary arthrodesis after malunion or an orthopaedic indication, bone grafts are
                common practice. Compression may be useful after placing the bone graft. The distractor
                must be withdrawn and the compressor (Ref. 256 353) assembled on the same talar and
                tuberosity K-wires (fig. 5).
                <br />
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho07_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho07.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_07" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>


    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Step 6:</div>
            <div class="md-subhead">Nail placement</div>
            <div class="md-body-1">
                The length of nail required is determined after again placing the nail guide
                (Ref. 266 291) and the nail length gauge (Ref. 266 340) and a guide (Ref. 266 291).
                The nail length gauge must be pushed in until it is against the cortex (fig. 6a).
                The nail is available in three lengths: 65, 75, and 85 mm (see the reference
                table 3 ). Place the selected nail onto the nail holder and make sure the indicator
                notches are aligned, using the handle-nail connector screw Ø12mm.
                <ul>
                    <li>Handle-nail connector Ø12: Ref. 265 569</li>
                    <li>Nail holder Ø12 Ref. 265 580</li>
                </ul>
                At this stage, it is important to slide the spongy bone plug(s) that was/were
                removed with the hollow reamer inside the nail and to position it/them
                against the nail opening. This will help the arthrodesis to fuse together.
                The nail is then introduced into the work chamber with small rotating motions,
                then pushed up until it reaches the talar body. Its proximal tip must be
                at least 10 mm from the anterior cortex of the talus.
                <br />
                Once the nail is in place, put the Ø12 arthrodesis nail alignment frame (Ref. 265 578)
                onto the Ø12mm nail holder (Ref. 265 580), using the alignment frame-nail holder
                connecting screw (Ref. 265 581), in order to complete the locking step. After placement
                of the drill guide for K-wires (Ref. 266 148), the narrow K-wires Ø1.6 Lg 200mm
                (Ref. 266 158) are introduced with a motor drive until their tip can be felt under the
                skin on the medial side. Use the cannulated screw length gauge (Ref. 266 146) to
                measure the required screw length. Typically, 30 to 32 mm screws are used (see
                the reference table 4 ).<br />
                A screw is placed in the talar body and one or two screws in the calcaneus using
                the cannulated screwdriver (Ref. 254 599) (fig. 6b and 6c).
                <br />
                Depending on the distance between the end of the nail and posterior tuberosity
                cortex, a cap can be placed on the nail to make it easier to remove
                later on.
                <br />
                For secondary fusion indications (malunion with posterior tuberosity varus),
                a corticocancellous bone graft can be used. Once the graft is positioned
                between the talus and calcaneus (fig. 7), the nail can be placed through the
                graft (fig. 7).

                <br />
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho08_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho08.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_08" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>

    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Arthrodesis Nail Ø12</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.f1" style="line-height: 0.5em">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
            </div>
            <div>&nbsp;</div>
            <div class="md-title">Screw</div>
            <md-divider></md-divider>
            <div layout layout-padding layout-align="space between start" ng-repeat="item in vm.f2" style="line-height: 0.5em">
                <div>{{item.c1}}</div>
                <div>{{item.c2}}</div>
            </div>
            <div layout layout-align="center center">
                <a ng-href="images/foot_calcanail_surgical_techniqueArtho09_big.png" target="_blank">
                    <img ng-src="images/foot_calcanail_surgical_techniqueArtho09.png" class="md-card-image" alt="foot_calcanail_surgical_techniqueArtho_09" />
                    <md-tooltip md-direction="top">
                        kliknij by powiększyć
                    </md-tooltip>
                </a>
            </div>
        </md-card-content>
    </md-card>


    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Post-operative care</div>
            <div class="md-body-1">
                The patient may begin moving around immediately after surgery using
                crutches with no weight on the foot, on the condition of wearing a pain
                relieving cast and that there is good wound healing, for the first fifteen days.
                After verifying that the wound is healing, a new cast is applied for a month.
                After the sixth week, depending on the indication of the surgery, walking
                with progressive weight-bearing using crutches may resume; a walking cast
                may also be used for added support. Physical therapy is usually unneeded.
                <br />
            </div>
        </md-card-content>
    </md-card>


    <md-card flex-sm="100" flex-gt-lg="45">
        <md-card-content>
            <div class="md-title">Ablation of the material</div>
            <div class="md-body-1">
                Ablation of material after a calcaneal fracture of subtalar arthrodesis is rarely
                indicated. If it proves to be necessary, ablation of the screws can be done easily
                by locating the screw heads on the lateral side of the heel and reinserting
                the narrow guide K-wires. The screwdriver guided by the K-wires will enable
                the screws to be extracted without difficulty. After making an incision in the
                heel, the cap can be removed (if one was placed). The nail holder is repositioned
                after cleaning the screw thread if needed. If the rotating motions of
                the nail holder are ineffective as a result of bone regrowth around the nail,
                the larger-sized hollow reamer should be used around the nail: the Ø12mm
                reamer for the Ø10mm fracture nail, the Ø14mm reamer for the Ø12mm
                arthrodesis nail. Ablation will then be very easy after reassembling the nail
                holder.
                <br />
            </div>
        </md-card-content>
    </md-card>

</div>